.form {
  background-color: aliceblue;
  color: black;
  padding: 0 10rem;
  padding-top: 5rem;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 50%;
  width: 50%;
  z-index: 10;
}

.background {
  z-index: 9;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #00000079;
  display: flex;
  justify-content: center;
  align-items: center;
}

@supports (backdrop-filter: blur(50px)) {
  .background {
    background-color: transparent;
    backdrop-filter: blur(50px) contrast(50%);
  }
}

.title1 {
  font-size: 3.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
  background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.input-container {
  position: relative;
}

.input {
  padding: 1rem 1.5rem;
  background-color: #75717177;
  border-radius: 25px;
  border: none;
}

.input:focus {
  outline: none;
}

.label {
  font-size: 0.8rem;
  width: 100%;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
